body {
    /* Old browsers */
    background: red;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #db9705, #d40707);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #ff670f, #4518e6);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-height: fit-content;
}

h1 {
    color: rgb(12, 245, 82) !important;
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    font-family: cursive;
    text-align: center;
}

h2 {
    text-align: left;
}

h2 {
    color: rgb(7, 255, 234);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
    width: 70%;
    font-family: cursive;
}

p {
    color: aliceblue;
    line-height: 1.3em;
    text-align: center;
    width: 100%;
    font-family: cursive;
    font-size: 18px;
    font-weight: bold;
}

.byline {
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 14px;
    padding-left: 10px;
    text-transform: uppercase;
}

.caption {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: white;
    color: rgb(255, 255, 255);
}

.content {
    padding: 40px;
}

.image {
    background-size: cover;
    background-position: center;
    height: 300px;
}

.writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
}
.card-text {
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.card-title {
    font-size: 21px;
    font-weight: 800;
}
.card {
    margin: 10px;
    width: 18rem;
    padding: 15px;
    height: 520px;
}

.kirjautuminen {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.kirjautuminen button {
    cursor: pointer;
    margin: 10px auto;
}

.bruh {
    width: fit-content;
    margin: 10px auto;
}

#tervetuloTeksti {
    margin: 0;
}

.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.sisäänKirjautuminen {
    height: 250px;
    width: 300px;
    background-color: gray;
    margin: 0 auto;
    border-radius: 30px;
    padding-bottom: 20px;
}

#regNappi {
    background-color: lime;
    border: 1px solid black;
    padding: 2px;
}

.sisäänKirjautuminen p {
    color: white;
    text-align: center;
    margin-top: 40px;
}

.kirjautumisLomake {
    width: min-content;
    margin: 0 auto ;
    text-align: center;
}

.kirjautumisLomake input {
    width: 177px;
    margin: 10px;
}
.kirjautumisLomake button {
    text-align: center;
    margin-top: 30px;
}

.btn-success {
    margin-top: 20px;
}

/*--- ---pizzasivu----- */

.card-img-top {
    height: 170px;
    width: 250px;
    margin: 0 auto;
}

.card-container {
    display: grid;
    width: 90vw;
    height: fit-content;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
    place-items: center;
    place-content: flex-start center;
}
.h3{
    text-align: center;
    color: rgb(7, 255, 234);
}

/* -----kotisivu  css ----------*/

.SivuKuvat-div{
    text-align: center;
    justify-content: center;
    display: flex;
}
.sivu-kuva{
    margin: 10px;
}
.sivu-teksti p{
 font-size: 16px;
}

.sivu-teksti{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
}

/*---- otayhteyttäsivu -----*/

.otayhteyttä-otsikko{
    padding-top: 20px;
    padding-bottom: 15px;
    color: aqua;
}
h5{
    text-align: center;
}